body{
	background-image: url('img/bg.png');
	color: #000305;
	font-size: 87.5%; /*Base font is 14px */
	font-family: Arial, 'Lucida Sans Unicode';
	line-height:1.5;
	text-align:left;
}

a{
	text-decoration:none;	/*remove default decoration of links, underline*/
}

a:link, a:visited{
	color: #a41c1c;
	font-weight: bold;
	font-style: italic;
}

a:hover, a:active{
	color: #FFF;
	background-color: #a41c1c;
	font-weight: bold;
	font-style: italic;
}

.body{
	margin: 0 auto;	/*center*/
	width: 70%;		/*make body 70% of screen*/
	clear: both;	/*no floating elements on left or right*/
}

.mainHeader img{	/*style img element in mainHeader class*/
	width: 45%;	
	background-color:#a41c1c;
	border-radius: 5px;	/*rounded edges*/
	-moz-border-radius: 5px;	/*make sure rounded edges work for mozilla*/
	-webkit-border-radius: 5px;	/*make sure rounded edges work for webkit browsers*/
	height: auto;
	margin: 2% 0 0 0;	/*so doesn't start at top*/
}

.mainHeader nav{
	background-color: #666;
	height: 40px;
	border-radius: 5px;	/*rounded edges*/
	-moz-border-radius: 5px;	/*make sure rounded edges work for mozilla*/
	-webkit-border-radius: 5px;	/*make sure rounded edges work for webkit browsers*/
	
}


.mainHeader nav p{
	color:#FFF;
	float:left;
	padding-left: 25px;	/*top/bottom, left/right, make links wider and taller */
	margin-top:10px;
}

.mainHeader nav input{
	float:left;
	margin-top:10px;
}

.mainHeader nav button{
	float:left;
	margin-top:10px;
}





.mainContent {
	line-height: 25px;
	border-radius: 5px;	/*rounded edges*/
	-moz-border-radius: 5px;	/*make sure rounded edges work for mozilla*/
	-webkit-border-radius: 5px;	/*make sure rounded edges work for webkit browsers*/
}

.content{
	width: 100%;
	float:left;
}

.topContent{
	background-color:#FFF;
	border-radius: 5px;	/*rounded edges*/
	-moz-border-radius: 5px;	/*make sure rounded edges work for mozilla*/
	-webkit-border-radius: 5px;	/*make sure rounded edges work for webkit browsers*/
	padding: 3% 5%;
	margin-top: 2%;
}

.post-info{
	font-style: italic;
	color: #999;
	font-size: 85%;
	margin-left:5%;
}


.mainFooter{
	width: 100%;
	height: 40px;
	float:left;
	border-radius: 5px;	/*rounded edges*/
	-moz-border-radius: 5px;	/*make sure rounded edges work for mozilla*/
	-webkit-border-radius: 5px;	/*make sure rounded edges work for webkit browsers*/
	background-color:#666;
	margin: 2% 0;
}

.mainFooter p {
	float: left;
	margin: 10px auto;
	padding-left: 25px;
	color: #FFF;
	display:inline-block;
}
.mainFooter form{
	padding: 10px 10px;
	float: right;
	
}

